extends layout

block content
    #App
      -if (status === "Active")
        #botActive
          h1= status
      -else
        #botInactive
          h1 Not Active
      #logo
        #wave
      #version
        p v.#{version}
